{% extends 'base.html' %}

{% block title %}
  Categories - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active">Categories</li>
{% endblock %}

{% block content %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Category</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
          </tr>
        </thead>
      <tbody>
        {% for cats in cats %}
          <tr>
            <td>
              <a href="{% url 'cat_topics' cats.pk %}">{{ cats.name }}</a>
              <small class="text-muted d-block">{{ cats.description }}</small>
            </td>
            <td class="align-middle">
              {{ cats.get_posts_count }}
            </td>
            <td class="align-middle">
              {{ cats.topics.count }}
            </td>
            <td class="align-middle">
              {% with post=cats.get_last_post %}
                {% if post %}
                <small>
                  <a href="{% url 'topic_posts' cats.pk post.topic.pk %}">
                    By {{ post.created_by.username }} at {{ post.created_at }}
                  </a>
                </small>
                {% else %}
                <small class="text-muted">
                  <em>No posts yet.</em>
                </small>
                {% endif %}
              {% endwith %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
