{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
  Start a New Topic - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Category</a></li>
  <li class="breadcrumb-item"><a href="{% url 'cat_topics' cats.pk %}">{{ cats.name }}</a></li>
  <li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
    <!--<button type="submit" class="btn btn-success">Post</button>-->
  </form>
{% endblock %}
