body {
  background-image: url(../img/papyrus.png);
}

.logo {
  font-family: 'Muli', sans-serif;
}

.logo a {
  color: rgba(0, 0, 0, .9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
