{% extends 'base.html' %}

  {% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
  {% endblock %}

  {% block content %}
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Board</th>
          <th>Posts</th>
          <th>Topics</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        {% for board in boards %}
          <tr>
            <td>
              <a href="{% url 'topics' board.pk %}">{{ board.name }}</a>
              <small class="text-muted d-block">{{ board.description }}</small>
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
