{% extends 'base.html' %}

  {% block title %}Start a New Topic{% endblock %}

  {% block breadcrumb %}


    <li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'topics' pk %}">{{ board }}</a></li>
    <li class="breadcrumb-item active">New Topic</li>
  {% endblock %}

  {% block content %}

    <form method="post">
      {% csrf_token %}
        <div class="form-group">
          <label for="id_subject">Subject</label>
          <input type="text" class="form-control" id="id_subject" name="subject">
        </div>
        <div class="form-group">
          <label for="id_message">Message</label>
          <textarea class="form-control" id="id_message" name="message" rows="5"></textarea>
          <div>

      <!--{{ form.as_p }}-->
      <button type="submit" class="btn btn-success">Post</button>
    </form>
  {% endblock %}
